<!doctype CSS>
<head>
<body>

<body>
body {
  background-image: url(technology-event.jpg');
  <style>
    body {
    @media (max-width: 600px)
    {
body {background-color: #d9f2ff;}
        <h1 style="font-size: 8vw;</h1>
        <h2 style="font-size: 6vw; background-color: #ffd6cc;"
        </h2>
        <p style="font-size: 4vw;"</p>
        
        }
    </style
}